<header>
        <div id="carouselExampleIndicators" class="carousel slide carousel-fade" data-ride="carousel">
          <ol class="carousel-indicators">
            <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
          </ol>
          <div class="carousel-inner" role="listbox">
            <!-- Slide One - Set the background image for this slide in the line below -->
            <div class="carousel-item active" style="background-image: url('images/slides/spikes.jpg')">
              <div class="carousel-caption">
                <h3>Clarifying</h3>
                <h1>Investable</h1>
                <h4>Cryptocurrencies</h4>
              </div>
            </div>
            <!--
            <div class="carousel-item" style="background-image: url('http://placehold.it/1900x1080')">
              <div class="carousel-caption d-none d-md-block">
              </div>
            </div>

            <div class="carousel-item" style="background-image: url('http://placehold.it/1900x1080')">
              <div class="carousel-caption d-none d-md-block">
              </div>
            </div>
          -->
          </div>
          <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
          </a>
          <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
          </a>
        </div>
      </header>





      <div class="container">
        <div id="partners">
          <h1 class=""> OUR TRUSTED PARTNERS </h1>
          <div class="row">
            <div class="col-sm-12">

              <ul class="list-inline" id="partners-list">
                <li> <img src="images/partners/reuters.png" alt="reuters" class="img-responsive animated fadeIn animated-delay2"> </li>
                <li> <img src="images/partners/pure-kernel.png" alt="pure kernel" class="img-responsive animated fadeIn animated-delay3"> </li>
                <li> <img src="images/partners/coinbase.png" alt="coinbase" class="img-responsive animated fadeIn animated-delay4"> </li>
                <li> <img src="images/partners/obsnetwork.png" alt="Slide11" class="img-responsive animated fadeIn animated-delay5"> </li>
              </ul>

            </div>
          </div>
        </div>
      </div>


      <section class="">
        <div class="container nmt">
          <div class="row">
            <div class="col-lg-3 offset-lg-1">
              <img class="img-fluid rounded animated fadeInUp" src="images/about-us.png" alt="">
            </div>
            <div class="col-lg-7">
              <div id="why-rda" class="">
                <h4 class="animated fade-in animate-hide animated-delay2">Why RDAi?</h4>
                <p class="home-intro-text animated fade-in animate-hide animated-delay2">
                  In a complex cryptocurrency market with literally thousands of instruments, Real Digital Asset Index (RDAi) clarifies which cryptocurrencies are a reliable store of value. Based on a multi-factor analysis, RDAi evaluates, scores and ranks cryptocurrencies in order of investability.
                </p>
              </div>
            </div>
          </div>
        </div>
      </section>


      <section class="bg-blue">
        <div class="container mmt">
          <div class="row">

            <div class="col-md-5 offset-md-1">
              <a href="javascript::void()"class="video-btn" data-toggle="modal" data-src="https://www.youtube.com/embed/_SztpNV6Fmw" data-target="#videoModal">
                <img class="img-fluid rounded animated fade-in mpt" src="images/video-placeholder.jpg" alt="">
              </a>
            </div>

            <div class="col-md-6 xlpl">
              <div id="why-rda">
                <h4 class="animated fade-in animate-hide animated-delay2 text-yellow fw300"> Unique Ranking System </h4>
                <p class="home-intro-text animated fade-in animate-hide animated-delay2">
                  In a complex cryptocurrency market with literally thousands of instruments, Real Digital Asset Index (RDAi) clarifies which cryptocurrencies are a reliable store of value.
                </p>
                <p class="home-intro-text animated fade-in animate-hide animated-delay2">
                  In a complex cryptocurrency market with literally thousands of instruments, Real Digital Asset Index (RDAi) clarifies.  Based on a multi-factor analysis, RDAi evaluates, scores and ranks cryptocurrencies.
                </p>
              </div>
            </div>


          </div>
        </div>
      </section>

      <section class="border-bottom">
        <div class="container mmt">
          <div class="row">


            <div class="offset-md-1 col-lg-5">
              <div id="why-rda">
                <h4 class="animated fade-in animate-hide"> RDAi 10, 50 &amp; 100 </h4>
                <p class="home-intro-text animated fade-in animate-hide animated-delay2">
                  In a complex cryptocurrency market with literally thousands of instruments, Real Digital Asset Index (RDAi) clarifies which cryptocurrencies are a reliable store of value.
                </p>
                <p class="home-intro-text animated fade-in animate-hide animated-delay3">
                  Based on a multi-factor analysis, RDAi evaluates, scores and ranks cryptocurrencies in order of investability.
                  In a complex cryptocurrency market with literally thousands of instruments, Real Digital Asset Index (RDAi) clarifies.
                </p>
                <a class="btn btn-primary  animated fade-in animate-hide animated-delay4" href="">VIEW TOP 3</a>
              </div>
            </div>
            <div class="col-md-6">
              <img class="img-fluid rounded img-responsive  animated fade-in animate-hide animated-delay4" src="images/rdai_10.png" alt="">
            </div>

          </div>
        </div>
      </section>

       <section class="border-bottom bg-yellow section-parallax" style="background-image:url(images/parallax/blockchain.png)">
        <div class="container mmt">
          <div class="row">

            <div class="offset-md-1 col-md-6">
              <img class="img-fluid rounded img-responsive  animated fade-in animate-hide animated-delay4" src="" alt="">
            </div>

            <div class="col-md-5">
              <div id="why-rda">
                <h4 class="animated fade-in animate-hide"> Weighted Attributes & Magic Quadrant </h4>
                <p class="home-intro-text animated fade-in animate-hide animated-delay2">
                  In a complex cryptocurrency market with literally thousands of instruments, Real Digital Asset Index (RDAi) clarifies which cryptocurrencies are a reliable store of value.
                </p>
                <p class="home-intro-text animated fade-in animate-hide animated-delay3">
                  Based on a multi-factor analysis, RDAi evaluates, scores and ranks cryptocurrencies in order of investability.
                  In a complex cryptocurrency market with literally thousands of instruments, Real Digital Asset Index (RDAi) clarifies.
                </p>
              </div>
            </div>


          </div>
        </div>
      </section>


      <section id="news" class="mpt">
        <div class="container xlmt xlmb">
          <div class="row">
            <div class="col-md-12">
              <h4 class="text-center  animated fade-in animate-hide"> RDAi News </h4>
              <p class="home-intro-text text-center fs-14 lmb nmt  animated fade-in animate-hide">Keep upto date with the latest RDA news and events</p>
            </div>
            <div class="col-sm-6 col-md-4 news-item">
              <div class="news-date">1 Aug 18</div>
              <a href="">
                <img class="img-fluid" src="images/news/cryptocurrency.jpg" alt="">
              </a>
              <p class="animated fade-in animate-hide animated-delay1">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
              </p>
              <a class="btn btn-news offset-md-4 animated fade-in animate-hide animated-delay1">Read more</a>
            </div>
            <div class="col-sm-6 col-md-4 news-item">
              <div class="news-date">3 Sep 18</div>
              <a href="">
                <img class="img-fluid" src="images/news/typography.jpg" alt="">
              </a>
              <p class="animated fade-in animate-hide animated-delay2">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
              </p>
              <a class="btn btn-news offset-md-4 animated fade-in animate-hide animated-delay2">Read more</a>
            </div>
            <div class="col-sm-6 col-md-4 news-item">
              <div class="news-date">2 Oct 18</div>
              <a href="">
                <img class="img-fluid" src="images/news/bitcoin.jpg" alt="">
              </a>
              <p class="animated fade-in animate-hide animated-delay3">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
              </p>
              <a class="btn btn-news offset-md-4 animated fade-in animate-hide animated-delay3">Read more</a>
            </div>

          </div>
        </div>
      </section>


      <section id="newsletter" class="spt mpb">
        <div class="container lmt xlmb">


          <form id='subscribe-form' data-form-output="form-output-global" data-form-type="subscribe" method="post" class="rd-mailform form-classic">
            <div class="row">
              <div class="col-md-12">
                <h5 class="text-center nmb animated fade-in animate-hide"> NEWSLETTER </h5>
                <p class="home-intro-text text-center text-white fs-14 smb nmt animated fade-in animate-hide animated-delay2">Keep up to date with the latest RDA news and events</p>
              </div>
              <div class="col-sm-6 col-md-4 offset-md-1 animated fade-in animate-hide animated-delay3">
                <input id="subscribe-Name" type="text" name="name" class="form-control" placeholder="Name" required>
              </div>
              <div class="col-sm-6 col-md-4 animated fade-in animate-hide animated-delay4">
                <input id="subscribe-email" type="email" name="email" data-constraints="@Email @Required" class="form-control" placeholder="Email" required>
              </div>
              <div class="col-sm-6 col-md-2 animated fade-in animate-hide animated-delay5">
                <button class="btn btn-newsletter-submit"> SIGN UP </button>
              </div>
            </div>
          </form>
        </div>
      </section>