<section class="" id="registerform">
        <div class="container mmt xlpb">

          <div class="row">
            <div class="col-md-12">
              <p>
                <h5>Create Account</h5>
                <small><a href="">Sign in</a> to your wallet or <a href="">restore an account</a> from a backup</small>
              </p>
            </div>
          </div>
          <div class="row">

            <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12">


              <div class="row lmt">
                <div class="col-md-12">
                  <h6>Choose your address avatar</h6>
                  <p> This avatar is unique. You cannot change it later. </p>
                </div>
              </div>
              <div class="row">
                <div class="col-sm-2">
                  <img src="https://via.placeholder.com/100" class="img-responsive">
                </div>
                <div class="col-sm-2">
                  <img src="https://via.placeholder.com/100" class="img-responsive">
                </div>
                <div class="col-sm-2">
                  <img src="https://via.placeholder.com/100" class="img-responsive">
                </div>
                <div class="col-sm-2">
                  <img src="https://via.placeholder.com/100" class="img-responsive">
                </div>
                <div class="col-sm-2">
                  <img src="https://via.placeholder.com/100" class="img-responsive">
                </div>
                <div class="col-sm-2">
                  <img src="https://via.placeholder.com/100" class="img-responsive">
                </div>
              </div>
              <div class="row smt smb">
                <div class="col-md-12">
                  <hr/>
                </div>
              </div>
              <div class="row" ng-controller="accountSeedController">
                <div class="col-md-12">
                  <p>
                    <strong>Account address:</strong><br/>
                    <input class="form-control smt" disabled value="code">
                  </p>
                </div>
                <div class="col-md-12">
                  <input type="checkbox" name="" class="form-control smb" value="save-to-local" checked> Keep the account on this computer
                </div>
              </div>

            </div><!-- /col-md-6 -->

            <div class="col-lg-5 offset-lg-1 col-md-12">
              <div class="row xlmt">
                  <div class="col-md-12">
                    <h6>Personal Details</h6>
                  </div>
                  <div class="col-sm-6">
                    <input id="register-form-fname" type="text" name="firstName" class="form-control lmb" placeholder="First Name" required>
                  </div>

                  <div class="col-sm-6">
                    <input id="register-form-lname" type="text" name="lastName" class="form-control lmb" placeholder="Last Name" required>
                  </div>

                  <div class="col-sm-12 col-md-12">
                    <input id="registerform-email" type="email" name="email" class="form-control lmb" placeholder="Email" required>
                  </div>

                  <div class="col-sm-6">
                    <input id="register-form-password" type="password" name="password" class="form-control lmb" placeholder="Password" required>
                  </div>

                  <div class="col-sm-6">
                    <input id="register-form-password-confirm" type="password" name="passconfirm" class="form-control lmb"  placeholder="Confirm Password" required>
                  </div>
              </div>

               <div class="row">
                <div class="col-md-12">
                    <a href="register-2.html">
                    <input type="submit" class="btn btn-newsletter-submit" name="submit" value="Continue">
                    </a>
                </div>
              </div>

            </div>

          </div>
        </div>
      </section>